name: "Deploy"

on:
  push:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  call-tests:
    uses: ./.github/workflows/reusable-tests.yml
    secrets:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  call-deploy:
    uses: ./.github/workflows/reusable-deploy-pdf-generator.yml
    with:
      lambda_function_name: "generate-pdf"
      lambda_layer_name_node_modules: "generate-pdf-node-modules"
      lambda_layer_name_fonts: "generate-pdf-fonts"
      lambda_layer_name_chromium: "generate-pdf-chromium"
      s3_bucket_name: "generate-pdf-layer"
      s3_file_path_function_code: "function-code.zip"
      env: "production"
    secrets:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
