name: "Reusable update Lambda Function configuration"

on:
  workflow_call:
    inputs:
      lambda_function_name:
        type: string
        required: true
      lambda_layer_name_node_modules:
        type: string
        required: true
      lambda_layer_name_fonts:
        type: string
        required: true
      lambda_layer_name_chromium:
        type: string
        required: true
      lambda_layer_name_qpdf:
        type: string
        required: true
      artifact_name_function_code:
        type: string
        required: true
      s3_bucket_name:
        type: string
        required: true
      s3_file_path_function_code:
        type: string
        required: true
    secrets:
      AWS_ACCOUNT_ID:
        required: true

env:
  AWS_ROLE_ARN: "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_ROLE_NAME }}"
  LAYER_ARN_PREFIX: "arn:aws:lambda:ap-northeast-1:${{ secrets.AWS_ACCOUNT_ID }}:layer"
  download_artifact_path: "artifacts"
  zip_file_name: "Function.zip"

permissions:
  id-token: write
  contents: read

jobs:
  aws-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Configure AWS Credentials"
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-1
          role-to-assume: ${{ env.AWS_ROLE_ARN }}

      - name: "Get Lambda Layer ARN suffix for node_modules"
        id: function_layer_arn_suffix
        uses: ./.github/actions/get-lambda-layer-arn-suffix
        with:
          AWS_LAMBDA_LAYER_NAME: ${{ inputs.lambda_layer_name_node_modules }}

      - name: "Get Lambda Layer ARN suffix for fonts"
        id: fonts_layer_arn_suffix
        uses: ./.github/actions/get-lambda-layer-arn-suffix
        with:
          AWS_LAMBDA_LAYER_NAME: ${{ inputs.lambda_layer_name_fonts }}

      - name: "Get Lambda Layer ARN suffix for Chromium"
        id: chromium_layer_arn_suffix
        uses: ./.github/actions/get-lambda-layer-arn-suffix
        with:
          AWS_LAMBDA_LAYER_NAME: ${{ inputs.lambda_layer_name_chromium }}
          
      - name: "Get Lambda Layer ARN suffix for Chromium"
        id: qpdf_layer_arn_suffix
        uses: ./.github/actions/get-lambda-layer-arn-suffix
        with:
          AWS_LAMBDA_LAYER_NAME: ${{ inputs.lambda_layer_name_qpdf }}

      - name: "Download artifact and to zip"
        uses: ./.github/actions/download-artifact-and-to-zip
        with:
          artifact_name: ${{ inputs.artifact_name_function_code }}
          zip_file_name: ${{ env.zip_file_name }}

      - name: "Update Lambda function code"
        run: |
          aws lambda update-function-code \
          --function-name ${{ inputs.lambda_function_name }} \
          --s3-bucket ${{ inputs.s3_bucket_name }} \
          --s3-key ${{ inputs.s3_file_path_function_code }} \
          --publish

      - name: "Wait for Lambda function to be updated"
        run: |
          aws lambda wait function-updated \
          --function-name ${{ inputs.lambda_function_name }}

      - name: "Update Lambda function configuration"
        run: |
          aws lambda update-function-configuration \
          --function-name ${{ inputs.lambda_function_name }} \
          --layers \
          ${{ env.LAYER_ARN_PREFIX }}:${{ steps.function_layer_arn_suffix.outputs.LAYER_ARN_SUFFIX }} \
          ${{ env.LAYER_ARN_PREFIX }}:${{ steps.fonts_layer_arn_suffix.outputs.LAYER_ARN_SUFFIX }} \
          ${{ env.LAYER_ARN_PREFIX }}:${{ steps.chromium_layer_arn_suffix.outputs.LAYER_ARN_SUFFIX }} \
          ${{ env.LAYER_ARN_PREFIX }}:${{ steps.qpdf_layer_arn_suffix.outputs.LAYER_ARN_SUFFIX }}
